<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Fundamentals -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="15" /> 
    
    <!-- Fonts & Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Title -->
    <title>{% block title %} {% endblock %}</title>

    <!-- Other Head -->
    {% block head %}{% endblock %}
    
</head>

<body>
    {% block content %} {% endblock %}

    <!-- Footer -->
    <footer>
        
    </footer>

    <!-- Scripts -->
    {% block scripts %}{% endblock %}

</body>